{% extends "@DinyaLoginLogger/layout.html.twig" %}

{% block body %}
    {{ form_start(form) }}
    <table>
        <thead>
        <tr>
            <th>UserAgent</th>
            <th>Last Login</th>
            <th>Enabled</th>
        </tr>
        </thead>
        <tbody>
        {% for user_agent in form.useragents %}
            <tr>
                <td>{{ user_agent.vars.data.name|slice(0,10) }}</td>
                <td>{{ user_agent.vars.data.lastLogin|date('Y-m-d H:i') }}</td>
                <td>{{ form_widget(user_agent) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(form) }}
{% endblock body %}
