<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<div>
    {% block body %}
    {% endblock body %}
</div>
</body>
</html>