{% extends "@DinyaLoginLogger/layout.html.twig" %}

{% block body %}
    {{ form_start(form) }}
    <table>
        <thead>
        <tr>
            <th>IpAddress</th>
            <th>Last Login</th>
            <th>Enabled</th>
        </tr>
        </thead>
        <tbody>
        {% for ip_address in form.ipaddresses %}
            <tr>
                <td>{{ ip_address.vars.data.address }}</td>
                <td>{{ ip_address.vars.data.lastLogin|date('Y-m-d H:i') }}</td>
                <td>{{ form_widget(ip_address) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(form) }}
{% endblock body %}
