{% block body_text %}
{% autoescape false %}
Dear {{ user.username }}!

Someone tried to log in with your credentials.
The attempt was unsuccessful.

If it was not you, make sure you have a strong password.

The number of failed attempts are being monitored by the administrator of the site.
According to our policy, after {{ possibleAttempts }} consecutive and unsuccessful attempts
your account will be permanently suspended.

The number of remaining attempts: {{ num }}

{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
