{% block body_text %}
{% autoescape false %}
Dear {{ user.username }}!

Someone tried to log in with your credentials.
The attempt was unsuccessful.

If it was not you, make sure you have a strong password.

{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
