{% block body_text %}
{% autoescape false %}

Dear {{ user.username }},

It looks like you signed into your account using a new browser:

Device name: {{ useragent }}
{#Location: Budapest (District XI.), Hungary#}
IP: {{ ip }}

If you did not log in from this browser, immediately change your account password. Somebody might have gained unauthorized access to your account.

In order to proceed with the sign-in, please confirm the browser by clicking the link below:
{{ confirmation }}

{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}