{% block body_text %}
{% autoescape false %}

Dear {{ user.username }},

It looks like you signed into your account using a new IP address:

Device name: {{ useragent }}
{#Location: Budapest (District XI.), Hungary#}
IP: {{ ip }}

This IP address has been added to your list of known IP addresses. You can view this list in ‘My Account’ under Security.

If you did not log in from this IP address, immediately remove it from your list and change your account password. Somebody might have gained unauthorized access to your account.

{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
